.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    height: 8vh;
    text-align: center;
    color: #454954;
    background-color: #c9abac;
}

.mainhead {
    font-size: 38px;
    margin: 0px 20px;
}
#no{
    height: 36px;
    width: 80px;
    font-size: 16px;
    color: rgb(185, 185, 185);
    border: 1px solid #afec3f;
    border-radius: 4px;
    background-color: #474747;
}
#no:focus{
    outline: none;
}
.css-b62m3t-container{
    width: 15rem;
    color: black;
    margin: 0px 50px;
    background-color: #474747;
}
.css-1s2u09g-control{
    background-color: #474747 !important;
    border-color: #fffbfb !important;
}
.css-1s2u09g-control {
    font-size: 20px;
}